{{ define "foot" }}
          </div>
        </main>
      </div>
    </div>
    </div>

    <footer class="print:hidden bg-white">
      <div class="max-w-7xl mx-auto py-12 px-4 sm:px-6 print:pl-4 md:flex md:items-center md:justify-between">
        <div class="mt-8 md:mt-0 md:order-1 md:px-4">
          <div class="text-base text-gray-400">
            <a class="text-lighten-3" href="https://notbad.software">notbad software</a>
          </div>
          <div class="text-base text-gray-400">
            <a class="text-lighten-3" href="/welcome">Home</a>
          </div>
        </div>
      </div>
    </footer>
  </body>
</html>
{{ end }}
